body{background-color: grey}
#h1{color:white;}
#p1{color: white;
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

#p3{border-radius: 25px;
    background: #004df3;
    padding: 20px; 
    width:200px ;
    height:150px ;}
    
  #p4  {border-radius: 25px;
    background: #d40000;
    padding: 20px; 
    width:200px ;
    height:150px ;}
    body{

       font-family: 'Lato', sans-serif;
      
      
      
      
      
      }
      
      
      
      .wrapper{
      
       position: fixed;
      
       top: 50%;
      
       left: 50%;
      
       transform: translate(-50%, -50%);
      
      }
      
      
      
      .link_wrapper{
      
       position: relative;
      
      }
      
      
      
      
      
      a{
      
       display: block;
      
       width: 250px;
      
       height: 90px;
      
       line-height: 50px;
      
       font-weight: bold;
      
       text-decoration: none;
      
      background: #ffffff;
      
       text-align: center;
      
       color: #540202;
      
       text-transform: uppercase;
      
       letter-spacing: 1px;
      
       border: 3px solid #033150;
      
       transition: all .35s;
      
      }
      
      
      
      
      
      
      
      
      a:hover{
      
       width: 200px;
      
       border: 3px solid #9c0808b0;
      
       background: transparent;
      
 color: #08ebc9;
      
      }
      
      
      
      a:hover + .icon{
      
       border: 3px solid #04354d;
      
      right: -25%;
      
      }
      #v1{ animation-iteration-count: infinite }